@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pagination-icons {
  @apply flex justify-center items-center h-10 border-2 w-10 rounded-full;
}
